{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
   <div class="container">
    <br>
     <h1>About</h1>
    <br>
    <p>
      Flask is a lightweight WSGI web application framework. It is designed to make getting started quick and easy, with the ability to scale up to complex applications. It began as a simple wrapper around Werkzeug and Jinja and has become one of the most popular Python web application frameworks.
    </p>
    <p>
      Flask offers suggestions, but doesn't enforce any dependencies or project layout. It is up to the developer to choose the tools and libraries they want to use. There are many extensions provided by the community that make adding new functionality easy.
    </p>
    <p>Reference: https://palletsprojects.com/p/flask/</p>
   </div>
{% endblock %}
